.loader-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #fff;
  filter: opacity(0.87);
  z-index: 1000;
}